<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ta.jurais.amopen">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="ta.jurais.amopen.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ta.jurais.amopen.AdminActivity" />
        <activity android:name="ta.jurais.amopen.MahasiswaActivity" />
        <activity android:name="ta.jurais.amopen.ListJobActivity" />
        <activity android:name="ta.jurais.amopen.InputKompenActivity" />
        <activity android:name="ta.jurais.amopen.InputMhsActivity" />
        <activity android:name="ta.jurais.amopen.LoginActivity" />
        <activity android:name="ta.jurais.amopen.StaffJobDetailActivity" />
        <activity android:name="ta.jurais.amopen.KompenDetailActivity" />
        <activity
            android:name="ta.jurais.amopen.StaffActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>